.vercel
node_modules/
dist/

# System files
.DS_Store

# Environment variables
.env
.env.local

# Arquivos de debug pessoal
debug-console.mjs
supabase/migrations_backup/

# Backups
supabase/backups/
supabase/.temp/


e-gestao-b730c-firebase-adminsdk-fbsvc-73107e5cd6.json
