.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: calc(60px + env(safe-area-inset-bottom));
  background-color: white; /* Fundo branco sólido */
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1000;
}

.bottom-nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #A0A0A0; /* Cor cinza para ícones não selecionados */
  text-decoration: none;
  flex-grow: 1;
  height: 100%;
  border: none; /* Remove a borda */
  fill: currentColor; /* Garante que o preenchimento do ícone use a cor do texto */
  stroke: none; /* Remove o contorno do SVG */
  stroke-width: 0; /* Garante que a largura do contorno seja zero */
}

.bottom-nav-item svg,
.bottom-nav-item span {
  /* Removido transition: none !important; */
}

.bottom-nav-item.active {
  color: #EE8800; /* Cor laranja da Copa Energia para ícones selecionados */
}

.bottom-nav-label {
  font-size: 12px;
  margin-top: 4px;
}